body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: pink;
}

#yesButton {
    position: right;
    margin-left: 150px;
    transition: 0.5s;
}

#withoutadoubtButton {
    position: left;
    margin-right: 150px;
}

.header_text {
    font-family: 'Brush Script';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.btn {
    background-color: white;
    color: pink;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 320px) and (max-height: 680px) {
    body {
        height: 100vh;
    }

    .header_text {
        font-size: 30px;
    }

    img {
        height: 80vh;
    }

    .btn {
        padding: 12px 24px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 414px) and (max-height: 763px) {
    body {
        height: 90vh;
    }

    .header_text {
        font-size: 28px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 20px 40px;
        font-size: 28px;
    }
}
