body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F80c12 #ee1100 #ff3311 #ff4422 #ff6644 #ff9933 #feae2d #ccbb33 #d0c310 #aacc22 #69d025 #22ccaa #12bdb9 #11aabb #4444dd #3311bb #3b0cbd #442299;
}

.header_text {
    font-family: 'Serif';
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
